Package: penguins-tailor
Version: {{.BaseVersion}}-{{.Rel}}
Section: admin
Priority: optional
Architecture: {{.Arch}}
Maintainer: Piero Proietti <piero.proietti@gmail.com>
Depends: {{.Depends}}
Description: penguins-tailor: dress up your Linux distribution
 penguins-tailor is a lightweight tool to manage and apply system
 configurations, desktop environments, and themes ("costumes")
 to Linux distributions.
